/* Fuel Level */

.b-skills {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 33px;
    padding-left: 26%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 254px;
    border-radius: 16px;
    box-shadow: 0px 22px 40px rgba(108.37500303983688, 108.37500303983688, 108.37500303983688, 0.17000000178813934);
    background-color: rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
}

.skill-item {
    position: relative;
    max-width: 200px;
    width: 100%;
    margin-bottom: 30px;
    color: #555;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-bottom: 27px;
}

.skill-item .chart, .skill-item .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.skill-item .chart:before {
    content: "";
    width: 0;
    height: 100%;
}

.skill-item .chart:before, .skill-item .percent {
    display: inline-block;
    vertical-align: middle;
}

.skill-item .percent {
    position: relative;
    line-height: 1;
    font-size: 36px;
    font-weight: 700;
    z-index: 2;
}

.skill-item .inner-text {
    position: absolute;
    top: 60%;
    left: 30%;
    font-size: 18px;
    font-weight: 600;
    z-index: 2;
    line-height: 1;
}

.skill-item .percent:after {
    content: attr(data-after);
    font-size: 20px;
}

.skill-item .inner-text:after {
    content: attr(data-after);
    font-size: 20px;
}

@media(min-width: 768px) and (max-width: 993px) {
    .b-skills {
        height: 330px;
        padding-top: 70px;
        padding-left: 22%;
    }
}