/* 
==========================
    Global Style
========================== 
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 900;
}

p {
    font-size: 18px;
}

button:focus {
    border: none;
}

main {
    padding-top: 50px;
}

/* Button Style */

.view-profile {
    background-image: linear-gradient(to right, rgba(248.0000004172325, 150.0000062584877, 44.000001177191734, 1) 0%, rgba(239.00000095367432, 60.00000022351742, 38.0000015348196, 1) 100%);
    color: rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
    font-family: Montserrat;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    width: 100%;
    height: 57px;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-top: 20px;
}

/* Graph Section Style */

.grap-chart-section {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 22px 40px rgba(108.37500303983688, 108.37500303983688, 108.37500303983688, 0.17000000178813934);
    background-color: rgba(252.87500202655792, 252.87500202655792, 252.87500202655792, 1);
}

/* Responsive Style */

@media (max-width: 480px) {
    #navbarNav {
        text-align: right;
    }
    .fuel-nav .navbar-nav .nav-item .nav-link:hover {
        border-bottom: 0px;
    }
    .fuel-nav .navbar-nav .nav-item .active {
        border-bottom: 0px;
    }
    .registration {
        margin-top: 20px;
    }
    .view-profile {
        margin-bottom: 20px;
    }
    .menu-profile {
        display: none;
    }
    #order3 {
        order: 3;
    }
}

@media(min-width: 481px) and (max-width: 768px) {
    #navbarNav {
        text-align: right;
    }
    .fuel-nav .navbar-nav .nav-item .nav-link:hover {
        border-bottom: 0px;
    }
    .fuel-nav .navbar-nav .nav-item .active {
        border-bottom: 0px;
    }
    .registration {
        margin-top: 20px;
    }
    .view-profile {
        margin-bottom: 20px;
    }
    .menu-profile {
        display: none;
    }
    .count-section h2 {
        font-size: 24px;
    }
    #order3 {
        order: 3;
    }
}

@media(min-width: 768px) and (max-width: 993px) {
    #navbarNav {
        text-align: right;
    }
    .fuel-nav .navbar-nav .nav-item .nav-link:hover {
        border-bottom: 0px;
    }
    .fuel-nav .navbar-nav .nav-item .active {
        border-bottom: 0px;
    }
    .count-section h2 {
        font-size: 24px;
    }
    #order1 {
        order: 1;
        margin-top: 40px;
    }
    #order2 {
        order: 2;
    }
    #order3 {
        order: 3;
    }
    .b-skills {
        height: 330px;
        padding-top: 60px;
    }
}

/* Profile Section */